<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SavePals Dashboard</title>
	<link rel="stylesheet" href="./assets/css/general.css" />
    <link rel="stylesheet" href="./assets/css/card.css" />
	<link
	  rel="stylesheet"
	  href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
	/>
  	</head>
	<body class="root">
		<!-- Dynamic Navigation component -->
		<nav id="navbar-placeholder"></nav>

		<main class="page-body">
			<section>
				<h2>Add Card</h2>
			</section>

			<section class="card">
				<img src="assets/card.png" alt="">
			</section>

            <section class="card-details">
                <h2>Card Details</h2>
                <form class="details-form">
                    <div class="form-group">
                        <label for="card-number">Card Number:</label>
                        <input type="number" name="card-number" placeholder="0000 0000 0000 0000" required>
                    </div>
                    <div class="form-group">
                        <label for="expiry date">Expiry Date:</label>
                        <input type="date" name="expiry-date" required>
                    </div>
                    <div class="form-group">
                        <label for="cvv">CVC / CVV:</label>
                        <input type="password" name="cvv" placeholder="***" required>
                    </div>
                    <div class="form-group">
                        <label for="cardholder">Cardholder Name:</label>
                        <input type="text" name="cardholder" placeholder="Name" required>
                    </div>

        
                    <div class="call-to-action">
                        <button type="submit" class="submit-button">Submit</button>
                    </div>
                </form>
            </section>
		</main>
		
		<!-- Dynamic Navigation Script -->
		<script src="assets/scripts/navbar.js"></script>
  	</body>
</html>