<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/general.css" />
    <link rel="stylesheet" href="assets/css/form.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
</head>
<body class="root">
    <!-- Dynamic Navigation component -->
<nav id="navbar-placeholder"></nav>

    <main class="page-body">
     <!-- Plan Details -->
     <section class="contribute">
        <!-- <h2>Create a New Goal</h2> -->
        <form class="contribute-form">
            <h4>Contribute Towards</h4>
            <div class="form-group">
                <label>Plan Name:</label>
                <div class="filter">
                    <select>
                      <option>Graduation Plan</option>
                      <option>For Rent</option>
                    </select>
                  </div>
            </div>

            <div class="form-group">
                <label>Amount:</label>
                 <input type="number">
            </div>

            <div class="contribute-btn">
                <button type="submit" class="submit-button">Contribute</button>
            </div>
        </form>
    </section>
</main> 

    <!-- Dynamic Navigation Script -->
		<script src="assets/scripts/navbar.js"></script>
</body>
</html>