<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SavePals Form</title>
    <link rel="stylesheet" href="/assets/css/general.css" />
    <link rel="stylesheet" href="/assets/css/form.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
</head>
<body class="root">
    <!-- Plan Details -->
    <section class="goal-container">
        <h2>Create a New Goal</h2>
        <form class="create-goal-form">
            <h4>Plan Details</h4>
            <div class="form-group">
                <label for="goal-name">Goal Name:</label>
                <input type="text" id="goal-name" name="goal-name" placeholder="Enter the goal name" required>
            </div>

            <div class="form-group">
                <label for="no-of-members">No of members:</label>
                <input type="number" name="no-of-members" required>
            </div>

            <div class="form-group">
                <label for="target">Plan target:</label>
                <input type="number" name="plan-target" required>
            </div>

            <div class="form-group">
                <label for="plan-description">Plan Description (Optional):</label>
                <textarea id="plan-description" name="plan-description" placeholder="Describe your plan"></textarea>
            </div>

            <div class="form-group">
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date" required>
            </div>

             <div class="form-group">
                <label for="set-interval">Set interval btw payment:</label>
                <input type="number" min="0" max="4" step="1" id="set-interval" name="set-interval" placeholder="weeks" required>
                <input type="number" min="0" max="12" step="1" id="set-interval" name="set-interval" placeholder="months" required>
                <input type="number" min="0" max="10" step="1" id="set-interval" name="set-interval" placeholder="years" required>
            </div>  

            <div class="form-group">
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date" required>
            </div>
        </form>

            <!-- Invite Friends -->
        <form class="create-goal-form">
                <h4>Friends</h4>
    
                <div class="form-group">
                    <h2>...</h2>
                    <input type="text" id="link" name="friend" value="Abudu Benedict">
                    <input type="date" id="date" name="date" required>
                </div>

                <div class="form-group">
                    <h2>...</h2>
                    <input type="text" id="link" name="friend" value="Samuel Asake">
                    <input type="date" id="date" name="date" required>
                </div>

                <div class="form-group">
                    <h2>...</h2>
                    <input type="text" id="" name="friend" value="Kenny Gee">
                    <input type="date" id="date" name="date" required>
                </div>

            <div class="call-to-action">
                <button type="submit" class="submit-button">Cancel</button>
                <button type="submit" class="submit-button">Submit</button>
            </div>
        </form>
    </section>
</body>
</html>
