<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SavePals Friends</title>
    <link rel="stylesheet" href="assets/css/general.css" />
    <link rel="stylesheet" href="assets/css/friends.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
  </head>
  <body class="root">
    <!-- Dynamic Navigation component -->
    <nav id="navbar-placeholder"></nav>

    <main class="page-body">
      <section class="friends">
        <div class="head">
          <div>
            <h3>Friends</h3>
          </div>
          <div class="filter">
            <select>
              <option value="all">All Plans</option>
              <option value="daily">Daily Plans</option>
              <option value="weekly">Weekly Plans</option>
              <option value="monthly">Monthly Plans</option>
            </select>
          </div>
        </div>
        <ul>
          <li>
            <span>Dean</span>
            <span>Graduation plan , For rent</span>
          </li>
          <li>
            <span>Lucky</span>
            <span>Graduation plan</span>
          </li>
          <li>
            <span>Ken</span>
            <span>For rent</span>
          </li>
          <li>
            <span>Simi</span>
            <span>For rent</span>
          </li>
        </ul>
      </section>
    </main>

    <!-- Dynamic Navigation Script -->
    <script src="assets/scripts/navbar.js"></script>
  </body>
</html>
