<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SavePals Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/friends.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body class="root">
    <!-- Dynamic Navigation component -->
    <nav id="navbar-placeholder">
      {% include 'navbar.html' %}
    </nav>

    <main class="page-body">
      <section class="friends">
        <div class="head">
          <div>
            <h3>Friends</h3>
          </div>
        </div>
        <ul id="list-friends">
          <!--Dynamically populate friends list-->
        </ul>
      </section>
    </main>

    <!--Include JS Script-->
    <script src="{{ url_for('static', filename='scripts/friends.js') }}"></script>
  </body>
</html>
