<!-- Invite Friends -->
<form class="create-goal-form">
    <h4>Friends</h4>

    <div class="form-group">
        <h2>...</h2>
        <input type="text" id="link" name="friend" value="Abudu Benedict">
        <input type="date" id="date" name="date" required>
    </div>

    <div class="form-group">
        <h2>...</h2>
        <input type="text" id="link" name="friend" value="johndoe2@example.com">
        <input type="date" id="date" name="date" required>
    </div>

    <div class="form-group">
        <h2>...</h2>
        <input type="text" id="" name="friend" value="Kenny Gee">
        <input type="date" id="date" name="date" required>
    </div>

<div class="call-to-action">
    <button type="submit" class="submit-button">Cancel</button>
    <button type="submit" class="submit-button">Submit</button>
</div>
</form>