<!-- navbar component -->
<header class="navbar">
	<div class="logo">
		<a href="dashboard.html">
			<img src="../static/images/logo.png" alt="" />
		</a>
	</div>
	<div class="nav-info">
		<!-- Dynamic username to be inserted below -->
		<h2>Hello, Benedict!</h2>
		<p>Save money with your friends</p>
	</div>
	<button class="btn">Contact Us</button>
</header>

<!-- sidebar component -->
<nav class="sidebar">
	<ul class="links">
		<li class="nav-link"><a href="dashboard.html">Dashboard</a></li>
		<li class="nav-link"><a href="goals.html">Goals</a></li>
		<li class="nav-link"><a href="friends.html">Friends</a></li>
		<!-- <li class="nav-link"><a href="cards.html">Cards</a></li> -->
		<li class="nav-link"><a href="profile.html">Profile</a></li>
	</ul>
	<a href="logout.html" class="logout">Log out</a>
</nav>