<!-- navbar component -->
<header class="navbar">
	<div class="logo">
		<a href="{{ url_for('dashboard') }}">
			<img src="{{ url_for('static', filename='images/logo.png') }}" alt="" />
		</a>
	</div>
	<div class="nav-info">
		<!-- Dynamic username to be inserted below -->
		<h2 id="user-first-name"></h2>
		<p>Save money with your friends</p>
	</div>
	<button class="btn">Contact Us</button>
</header>

<!-- sidebar component -->
<nav class="sidebar">
	<ul class="links">
		<li class="nav-link"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
		<li class="nav-link"><a href="{{ url_for('goals') }}">Goals</a></li>
		<li class="nav-link"><a href="{{ url_for('friends') }}">Friends</a></li>
		<li class="nav-link"><a href="{{ url_for('profile') }}">Profile</a></li>
	</ul>
	<a href="{{ url_for('logout') }}" class="logout">Logout</a>
</nav>
