<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/form.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
</head>
<body class="root">
    <!-- Dynamic Navigation component -->
<nav id="navbar-placeholder"></nav>


    <main class="page-body">
     <!-- form -->
        <div id="form-placeholder"></div>
    </main> 

    <!-- Dynamic Navigation Script -->
		<script src="assets/scripts/navbar.js"></script>
        <script src="../static/scripts/form.js"></script>
</body>
</html>
