<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body class="root">
    <!-- Dynamic Navigation component -->
    <nav id="navbar-placeholder">
        {% include 'navbar.html' %}
    </nav>


    <main class="page-body">
        <!-- form -->
        <div id="form-placeholder">
            {% include 'form.html' %}
        </div>
    </main>
    <!--Dynamic scripts-->
    <script src="{{ url_for('static', filename='scripts/create_plan.js') }}"></script>
</body>
</html>
