<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SavePals Friends</title>
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
    />
  </head>
  <body class="root">
    <!-- Dynamic Navigation component -->
    <nav id="navbar-placeholder"></nav>

    <main class="page-body">

      <section class="profile">
        <div class="profile-picture">
        </div>

        <!-- Profile Details -->
        <form class="profile-details">
          <!-- Personal Info -->
          <div class="name">
            <div class="form-group">
              <label for="first name">First name</label>
              <input
                type="text"
                name="first name"
                id="first name"
                value="Benedict"
                required
              />
            </div>
           
            <div class="form-group">
              <label for="last name">Last name</label>
              <input type="text" name="last name" id="last name" value="Abudu" />
            </div>
          </div>

          <div class="email">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" name="email" id="email" value="bobuzytech@gmail.com" />
            </div>
          </div>

          <div class="password">
            <h3>Password change</h3>
            <div class="form-group">
              <label for="current password">Current password</label>
              <input type="password" name="current password" id="current password" value="jhdgdtyui9876" />
            </div>

            <div class="form-group">
              <label for="new password">New password</label>
              <input type="password" name="new password" id="new password" value="" />
            </div>

            <div class="form-group">
              <label for="confirm password">Confirm password</label>
              <input type="confirm password" name="confirm password" id="confirm password" value="" />
            </div>
          </div>

          <div class="call-to-action">
            <button class="submit-btn">Save changes</button>
          </div>

        </form>
      </section>
    </main>

    <!-- Dynamic Navigation Script -->
    <script src="../static/scripts/navbar.js"></script>
  </body>
</html>
