.card {
    display: flex;
    padding: 20px 100px 0 0;
    justify-content: start;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
 
img {
    width: 300px;
}

.card-details {
margin-top: 2rem;
border: 2px solid black;
padding: 1rem;
max-width: 40vw;
border-radius: 10px;
background-color: white;
}

.card-details h2 {
    text-align: center;
    }

.form-group {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.form-group label { 
    color: #333;
    width: 200px;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 40px;
}

.submit-button {
    border:2px solid ;
    padding: 13px 24px;
    border-radius: 8px;
    background-color: #ffffff00;
    cursor: pointer; 
  }

